@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light Mode (default) */
body {
    font-family: "Oswald", serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Dark Mode */
  .dark body {
    background-color: #161f2c;
    color: white;
  }
  

